// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes/corporate";

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  textarea default,
  default
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    // Default Font Settings:
    siemens-font: unquote("SiemensSlab, sans-serif"),
    font-family-primary: siemens-font,
    font-family-secondary: unquote("SiemensSlab, sans-serif"),
    // Left-panel constants.
    left-panel-width: 288px,
    // Responsive Settings: Size thresholds.
    screen-xs-max: 768px,
    // Extra Small devices (mobiles, 320px and up)
    screen-sm-min: 768px,
    // Small devices (tablets, 768px and up)
    screen-md-min: 1250px,
    // Medium devices (desktops, 992px and up)
    screen-lg-min: 1500px,
    // Large devices (large desktops, 1200px and up)
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
    //Colors:
    Siemens-Petrol: #009999,
    Siemens-DeepBlue: #000028,
    Siemens-LightSand: #f3f3f0,
    Siemens-White: #ffffff,
    Siemens-DeepBlue80: #333353,
    Siemens-DeepBlue60: #66667e,
    Siemens-DeepBlue40: #9999a9,
    Siemens-DeepBlue20: #ccccd4,
    Siemens-DeepBlue15: #d9d9df,
    Siemens-DeepBlue10: #e5e5e9,
    Siemens-DeepBlue8: #ebebee,
    Siemens-DarkBlue: #00557c,
    Siemens-Blue: #0087be,
    Siemens-SoftBlue: #00bedc,
    Siemens-BoldBlue: #00e6dc,
    Siemens-DarkGreen: #00646e,
    Siemens-Green: #00af8e,
    Siemens-SoftGreen: #00d7a0,
    Siemens-BoldGreen: #00ffb9,
    Siemens-DarkPurple: #500078,
    Siemens-Purple: #aa32be,
    Siemens-DarkOrange: #ec6602,
    Siemens-Orange: #ff9000,
    Siemens-Yellow: #ffd732,
    Siemens-Red: #ef0137,
    Siemens-SoftRed: #fe8389,
    Siemens-DarkSand: #aaaa96,
    Siemens-SoftSand: #c5c5b8,
    Siemens-BrightSand: #dfdfd9,
    Siemens-InteractiveBlueDarkDefault: #00cccc,
    Siemens-InteractiveBlueDarkHover: #2ee6e2,
    Siemens-InteractiveBlueDarkPressed: #4dfff9,
    Siemens-InteractiveBlueLightDefault: #0098a6,
    Siemens-InteractiveBlueLightHover: #00708c,
    Siemens-InteractiveBlueLightPressed: #005673,
    //Background:
    layout-background-color: Siemens-LightSand,
    //Side-Menu:
    menu-item-divider-color: Siemens-BrightSand,
    menu-text-font-size: 14px,
    menu-text-font-weight: normal,
    menu-active-text-font-weight: bold,
    menu-item-active-text-color: rgba(0, 0, 0, 0.8),
    menu-item-hover-text-color: Siemens-DarkGreen,
    menu-item-icon-color: rgba(0, 0, 0, 0.8),
    menu-item-active-background-color: Siemens-DeepBlue10,
    menu-submenu-item-active-background-color: Siemens-DeepBlue10,
    menu-submenu-item-padding: 0.75rem 1rem,
    menu-submenu-item-margin: 0,
    //Buttons:
    button-text-font-family: siemens-font,
    button-text-font-weight: bold,
    button-outline-width: 0px,
    button-rectangle-border-radius: 0px,
    button-filled-border-width: 1px,
    button-outline-focus-inset-shadow-length: none,
    button-outline-basic-focus-background-color: transparent,
    button-filled-text-transform: none,
    button-filled-primary-background-color: Siemens-InteractiveBlueLightDefault,
    button-filled-primary-border-color: Siemens-InteractiveBlueLightDefault,
    button-filled-primary-text-color: Siemens-White,
    button-filled-primary-hover-text-color: Siemens-InteractiveBlueLightHover,
    button-filled-primary-focus-text-color: Siemens-InteractiveBlueLightPressed,
    button-filled-primary-active-text-color: Siemens-InteractiveBlueLightPressed,
    button-filled-primary-hover-background-color:
      Siemens-InteractiveBlueLightHover,
    button-filled-primary-hover-border-color: Siemens-InteractiveBlueLightHover,
    button-filled-primary-focus-background-color:
      Siemens-InteractiveBlueLightPressed,
    button-filled-primary-focus-border-color:
      Siemens-InteractiveBlueLightPressed,
    button-filled-primary-active-background-color:
      Siemens-InteractiveBlueLightPressed,
    button-filled-primary-active-border-color:
      Siemens-InteractiveBlueLightPressed,
    button-filled-basic-text-color: Siemens-InteractiveBlueLightDefault,
    button-filled-basic-hover-text-color: Siemens-InteractiveBlueLightHover,
    button-filled-basic-focus-text-color: Siemens-InteractiveBlueLightPressed,
    button-filled-basic-active-text-color: Siemens-InteractiveBlueLightPressed,
    button-filled-basic-background-color: Siemens-White,
    button-filled-basic-border-color: Siemens-InteractiveBlueLightDefault,
    button-filled-basic-hover-background-color: Siemens-White,
    button-filled-basic-hover-border-color: Siemens-InteractiveBlueLightHover,
    button-filled-basic-focus-background-color: Siemens-White,
    button-filled-basic-focus-border-color: Siemens-InteractiveBlueLightPressed,
    button-filled-basic-active-background-color: Siemens-White,
    button-filled-basic-active-border-color: Siemens-InteractiveBlueLightPressed,
    button-ghost-basic-text-color: Siemens-InteractiveBlueLightDefault,
    button-ghost-basic-hover-text-color: Siemens-InteractiveBlueLightHover,
    button-ghost-basic-active-text-color: Siemens-InteractiveBlueLightPressed,
    button-ghost-basic-focus-text-color: Siemens-InteractiveBlueLightPressed,
    button-ghost-basic-background-color: transparent,
    button-ghost-basic-border-color: transparent,
    button-ghost-basic-hover-background-color: transparent,
    button-ghost-basic-hover-border-color: transparent,
    button-ghost-basic-focus-background-color: transparent,
    button-ghost-basic-focus-border-color: transparent,
    button-ghost-basic-active-background-color: transparent,
    button-ghost-basic-active-border-color: transparent,
    button-filled-basic-disabled-background-color: rgb(255, 255, 255, 0.2),
    button-filled-basic-disabled-border-color: rgb(0, 152, 166, 0.3),
    button-filled-basic-disabled-text-color: rgb(0, 152, 166, 0.4),
    button-filled-primary-disabled-background-color: rgb(0, 152, 166, 0.3),
    button-filled-primary-disabled-border-color: rgb(0, 152, 166, 0.1),
    button-filled-primary-disabled-text-color: rgb(255, 255, 255, 0.4),
    //Input Fields:
    input-border-style: none none solid none,
    input-border-width: 0 0 2px 0,
    input-rectangle-border-radius: 0rem,
    input-outline-color: Siemens-DeepBlue60,
    input-outline-width: 1.5px,
    input-placeholder-text-font-family: siemens-font,
    input-text-font-family: siemens-font,
    input-basic-text-color: black,
    input-basic-placeholder-text-color: Siemens-DeepBlue40,
    input-basic-background-color: transparent,
    input-basic-disabled-background-color: transparent,
    input-basic-disabled-border-color: Siemens-DeepBlue20,
    input-basic-disabled-text-color: Siemens-DeepBlue40,
    input-basic-border-color: Siemens-DeepBlue60,
    input-basic-focus-background-color: rgb(0, 152, 166, 0.2),
    input-basic-focus-border-color: Siemens-InteractiveBlueLightDefault,
    input-basic-hover-background-color: rgb(0, 112, 140, 0.2),
    input-basic-hover-border-color: Siemens-InteractiveBlueLightHover,
    input-primary-border-color: Siemens-InteractiveBlueLightHover,
    input-medium-text-font-weight: normal,
    form-field-addon-basic-highlight-text-color:
      Siemens-InteractiveBlueLightHover,
    form-field-addon-basic-text-color: black,
    input-success-text-color: black,
    input-success-placeholder-text-color: Siemens-DeepBlue40,
    input-success-background-color: transparent,
    input-success-border-color: Siemens-Green,
    input-success-focus-background-color: rgb(0, 215, 160, 0.2),
    input-success-focus-border-color: Siemens-Green,
    input-success-hover-background-color: rgb(0, 215, 160, 0.2), // Siemens-Softgreen
    input-success-hover-border-color: Siemens-SoftGreen,
    input-success-disabled-background-color: transparent,
    input-success-disabled-border-color: rgb(0, 215, 160, 0.2),
    input-success-disabled-text-color: Siemens-DeepBlue20,
    input-success-disabled-placeholder-text-color: Siemens-DeepBlue10,
    input-warning-text-color: black,
    input-warning-placeholder-text-color: Siemens-DeepBlue40,
    input-warning-background-color: transparent,
    input-warning-border-color: Siemens-Orange,
    input-warning-focus-background-color: rgb(255, 144, 0, 0.2), // Siemens-Orange
    input-warning-focus-border-color: Siemens-Orange,
    input-warning-hover-background-color: rgb(255, 144, 0, 0.1),
    input-warning-hover-border-color: Siemens-DarkOrange,
    input-warning-disabled-background-color: transparent,
    input-warning-disabled-border-color: rgb(255, 144, 0, 0.2),
    input-warning-disabled-text-color: Siemens-DeepBlue20,
    input-warning-disabled-placeholder-text-color: Siemens-DeepBlue10,
    input-danger-text-color: black,
    input-danger-placeholder-text-color: Siemens-DeepBlue40,
    input-danger-background-color: transparent,
    input-danger-border-color: Siemens-Red,
    input-danger-focus-background-color: rgb(254, 131, 137, 0.2), // Siemens-SoftRed
    input-danger-focus-border-color:	Siemens-Red,
    input-danger-hover-background-color: rgb(254, 131, 137, 0.2),
    input-danger-hover-border-color: Siemens-SoftRed,
    input-danger-disabled-background-color: transparent,
    input-danger-disabled-border-color: rgb(254, 131, 137, 0.2),
    input-danger-disabled-text-color: Siemens-DeepBlue20,
    input-danger-disabled-placeholder-text-color: Siemens-DeepBlue10,
    //Drop-Downs:
    select-outline-color: Siemens-DeepBlue60,
    select-text-font-family: siemens-font,
    select-placeholder-text-font-family: siemens-font,
    select-rectangle-border-radius: 0rem,
    select-outline-border-style: none none solid none,
    select-outline-border-width: 0 0 2px 0,
    select-outline-basic-icon-color: Siemens-DeepBlue60,
    select-outline-basic-text-color: black,
    select-outline-basic-placeholder-text-color: Siemens-DeepBlue40,
    select-outline-basic-background-color: transparent,
    select-outline-basic-border-color: Siemens-DeepBlue60,
    select-outline-basic-focus-background-color: rgb(0, 152, 166, 0.2),
    select-outline-basic-focus-border-color: Siemens-InteractiveBlueLightDefault,
    select-outline-basic-hover-background-color: rgb(0, 112, 140, 0.2),
    select-outline-basic-hover-border-color: Siemens-InteractiveBlueLightHover,
    select-outline-basic-open-border-color: transparent,
    select-medium-text-font-weight: 200,
    select-medium-placeholder-text-font-weight: 200,
    select-filled-primary-focus-background-color:
      Siemens-InteractiveBlueLightDefault,
    select-filled-primary-background-color: Siemens-InteractiveBlueLightDefault,
    select-filled-control-background-color: Siemens-White,
    option-list-border-color: transparent,
    option-selected-background-color: Siemens-InteractiveBlueDarkDefault,
    option-selected-focus-background-color: Siemens-InteractiveBlueDarkDefault,
    option-selected-hover-background-color: Siemens-InteractiveBlueDarkHover,
    option-list-text-font-weight: 200,
    //Toggle:
    toggle-height: 1.25rem,
    toggle-switcher-size: 1.6rem,
    toggle-switcher-icon-size: 0.5rem,
    toggle-switcher-background-color: Siemens-DeepBlue60,
    toggle-outline-width: 0rem,
    toggle-outline-color: transparent,
    toggle-text-font-family: siemens-font,
    toggle-text-font-size: 14px,
    toggle-text-font-weight: 200,
    toggle-basic-text-color: black,
    toggle-basic-background-color: Siemens-DeepBlue20,
    toggle-basic-border-color: Siemens-DeepBlue20,
    toggle-basic-checked-background-color: Siemens-SoftGreen,
    toggle-basic-checked-border-color: Siemens-SoftGreen,
    toggle-basic-switcher-background-color: Siemens-DeepBlue60,
    toggle-basic-checked-switcher-background-color:
      Siemens-InteractiveBlueLightDefault,
    toggle-basic-checked-switcher-checkmark-color:
      Siemens-InteractiveBlueLightDefault,
    toggle-basic-focus-background-color: Siemens-DeepBlue20,
    toggle-basic-focus-border-color: Siemens-DeepBlue20,
    toggle-basic-focus-checked-background-color: Siemens-SoftGreen,
    toggle-basic-focus-checked-border-color: Siemens-SoftGreen,
    toggle-basic-hover-background-color: Siemens-DeepBlue20,
    toggle-basic-hover-border-color: Siemens-DeepBlue20,
    toggle-basic-hover-checked-background-color: Siemens-SoftGreen,
    toggle-basic-hover-checked-border-color: Siemens-SoftGreen,
    toggle-basic-disabled-background-color: Siemens-DeepBlue10,
    toggle-basic-disabled-checked-background-color: rgb(0, 215, 160, 0.2),
    // Siemens-SoftGreen
    toggle-basic-disabled-border-color: Siemens-DeepBlue10,
    toggle-basic-disabled-switcher-background-color: rgb(0, 152, 166, 0.2),
    // Siemens-InteractiveBlueLightDefault
    toggle-basic-disabled-checked-switcher-checkmark-color: rgb(0, 152, 166, 0),
    toggle-basic-disabled-text-color: Siemens-DeepBlue40,
    //Cards:
    card-text-color: black,
    card-text-font-family: siemens-font,
    card-text-font-size: 14px,
    card-border-style: none,
    card-border-color: transparent,
    card-divider-style: none,
    card-divider-color: transparent,
    card-header-text-color: black,
    card-header-text-font-family: siemens-font,
    card-header-text-font-size: 16px,
    card-shadow: 3px 3px 7px #000000 0.15,
    //Accordions:
    accordion-border-radius: 0.0rem,
    accordion-header-text-color: black,
    accordion-header-text-font-family: siemens-font,
    accordion-header-text-font-size: 16px,
    accordion-header-disabled-text-color: Siemens-DeepBlue10,
    accordion-header-border-color: Siemens-DeepBlue10,
    accordion-header-border-style: solid,
    accordion-item-text-color: black,
    accordion-item-text-font-family: siemens-font,
    accordion-item-text-font-size: 14px,
    accordion-shadow: 3px 3px 7px #000000 0.15,
    accordion-item-background-color: Siemens-White,
    //Sidebar:
    sidebar-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15),
    sidebar-menu-item-highlight-color: black,
    sidebar-scrollbar-background-color: Siemens-White,
    sidebar-scrollbar-color: Siemens-SoftSand,
    sidebar-text-font-size: 14px,
    //Checkboxes:
    checkbox-outline-color: transparent,
    checkbox-outline-width: 0px,
    checkbox-border-radius: 0px,
    checkbox-basic-background-color: Siemens-White,
    checkbox-basic-border-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-hover-background-color: rgba(0, 152, 166, 0.2),
    checkbox-basic-hover-border-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-hover-checkmark-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-checked-background-color: rgba(0, 152, 166, 0.2),
    checkbox-basic-checked-border-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-checked-checkmark-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-focus-background-color: transparent,
    checkbox-basic-focus-border-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-focus-checkmark-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-indeterminate-background-color: rgba(0, 152, 166, 0.2),
    checkbox-basic-indeterminate-border-color:
      Siemens-InteractiveBlueLightDefault,
    checkbox-basic-indeterminate-checkmark-color:
      Siemens-InteractiveBlueLightDefault,
    checkbox-basic-focus-checked-background-color: rgba(0, 152, 166, 0.2),
    checkbox-basic-focus-checked-border-color:
      Siemens-InteractiveBlueLightDefault,
    checkbox-basic-hover-checked-background-color: rgba(0, 152, 166, 0.2),
    checkbox-basic-hover-checked-border-color:
      Siemens-InteractiveBlueLightDefault,
    checkbox-basic-active-background-color: rgba(0, 152, 166, 0.2),
    checkbox-basic-active-border-color: Siemens-InteractiveBlueLightDefault,
    checkbox-basic-active-checkmark-color: Siemens-InteractiveBlueLightDefault,
    //Tooltip:
    tooltip-background-color: Siemens-DeepBlue20,
    tooltip-border-style: none,
    tooltip-border-radius: 0px,
    tooltip-text-color: black,
    tooltip-text-font-family: siemens-font,
    tooltip-text-font-size: 14px,
    tooltip-icon-height: 5%,
    tooltip-icon-width: 5%,
    tooltip-max-width: 100%,
    //Tabs:
    tabset-tab-active-text-color: black,
    tabset-tab-text-color: black,
    tabset-tab-text-font-weight: 200,
    route-tabset-tab-text-font-weight: 200,
    tabset-tab-text-transform: capitalize,
    tabset-tab-active-underline-color: Siemens-DarkGreen,
    tabset-tab-hover-text-color: black,
    tabset-tab-text-font-size: 14px,
    tabset-tab-hover-underline-color: Siemens-DarkGreen,
    route-tabset-tab-text-color: black,
    route-tabset-tab-text-font-family: siemens-font,
    route-tabset-tab-text-font-size: 14px,
    route-tabset-tab-focus-text-color: black,
    route-tabset-tab-focus-underline-color: Siemens-DarkGreen,
    route-tabset-tab-hover-text-color: black,
    route-tabset-tab-hover-underline-color: Siemens-DarkGreen,
    tabset-divider-color: transparent,
    route-tabset-tab-text-transform: capitalize,
    route-tabset-divider-color: transparent,
    //Date-Picker:
    datepicker-border-style: none,
    calendar-border-style: none,
    calendar-cell-active-background-color: Siemens-DarkGreen,
    calendar-cell-active-border-color: Siemens-DarkGreen,
    calendar-cell-today-background-color: transparent,
    calendar-cell-today-border-color: Siemens-DarkGreen,
    calendar-cell-today-hover-background-color: rgba(0, 152, 166, 0.2),
    calendar-cell-today-hover-border-color: transparent,
    calendar-cell-selected-background-color: Siemens-DarkGreen,
    calendar-cell-selected-border-color: transparent,
    calendar-cell-selected-hover-background-color:
      Siemens-InteractiveBlueLightHover,
    calendar-cell-selected-hover-border-color: transparent,
    calendar-cell-selected-active-background-color:
      Siemens-InteractiveBlueLightPressed,
    calendar-cell-selected-active-border-color: transparent,
    calendar-weekday-text-color: Siemens-DeepBlue60,
    calendar-weekday-divider-color: Siemens-BrightSand,
    calendar-cell-hover-background-color: rgba(0, 152, 166, 0.2),
    //Spinner:
    spinner-primary-circle-filled-color: Siemens-InteractiveBlueLightPressed,
    spinner-basic-circle-filled-color: Siemens-DeepBlue60,
    spinner-primary-background-color: rgba(0, 0, 0, 0.05),
    spinner-basic-background-color: rgba(0, 0, 0, 0.05),
    //Radio
    radio-border-style: double,
    radio-border-width: 1px,
    radio-width: 1.25rem,
    radio-height: 1.25rem,
    radio-text-line-height: 1.5rem,
    radio-text-font-weight: 400,
    radio-text-font-family: siemens-font,
    radio-basic-background-color: Siemens-White,
    radio-basic-border-color: Siemens-InteractiveBlueLightDefault,
    radio-basic-inner-circle-color: Siemens-InteractiveBlueDarkDefault,
    radio-basic-checked-border-color: Siemens-InteractiveBlueDarkDefault,
    radio-basic-focus-border-color: Siemens-InteractiveBlueLightDefault,
    radio-basic-focus-inner-circle-color: Siemens-InteractiveBlueLightDefault,
    radio-basic-hover-background-color: Siemens-White,
    radio-basic-hover-border-color: Siemens-InteractiveBlueDarkDefault,
    radio-basic-hover-inner-circle-color: Siemens-InteractiveBlueDarkDefault,
    radio-basic-hover-checked-background-color: Siemens-White,
    radio-basic-active-border-color: Siemens-InteractiveBlueLightDefault,
    radio-basic-active-inner-circle-color: Siemens-InteractiveBlueLightDefault,
    //Smart Table
    smart-table-paging-border-color: Siemens-InteractiveBlueLightDefault,
    smart-table-paging-page-text-color: Siemens-InteractiveBlueLightDefault,
    smart-table-paging-bg-active: Siemens-InteractiveBlueLightDefault,
    // Progress-bar
    progress-bar-border-radius: 0.5rem,
    progress-bar-text-font-family: siemens-font,
    progress-bar-medium-height: 0.9rem,
    progress-bar-medium-text-font-size: 0.8rem,
    progress-bar-basic-background-color: Siemens-DeepBlue15,
    progress-bar-basic-filled-background-color:
      Siemens-InteractiveBlueLightDefault,
    progress-bar-primary-filled-background-color:
      Siemens-InteractiveBlueLightDefault,
    //Stepper:
    stepper-step-text-color: Siemens-DeepBlue60,
    stepper-step-text-font-family: siemens-font,
    stepper-step-text-font-size: 14px,
    stepper-step-text-font-weight: 400,
    stepper-step-active-text-color: Siemens-InteractiveBlueLightPressed,
    stepper-step-completed-text-color: Siemens-InteractiveBlueLightPressed,
    stepper-step-index-border-color: Siemens-DeepBlue10,
    stepper-step-index-active-border-color: Siemens-InteractiveBlueLightPressed,
    stepper-step-index-completed-background-color:
      Siemens-InteractiveBlueLightDefault,
    stepper-step-index-completed-border-color:
      Siemens-InteractiveBlueLightDefault,
    stepper-step-index-completed-text-color: Siemens-White,
    stepper-connector-background-color: Siemens-DeepBlue10,
    stepper-connector-completed-background-color:
      Siemens-InteractiveBlueLightDefault,
    // Bagde
    badge-border-radius: 0rem,
    badge-text-font-family: siemens-font,
    badge-basic-background-color: Siemens-DeepBlue60,
    badge-basic-text-color: Siemens-White,
    badge-primary-background-color: Siemens-SoftBlue,
    badge-success-background-color: Siemens-Green,
    badge-warning-background-color: Siemens-Orange,
    badge-danger-background-color: Siemens-Red,
    // Icon
    icon-success-color: Siemens-Green,
    icon-danger-color: Siemens-Red,
    // Scrollbar
    layout-scrollbar-background-color: Siemens-BrightSand,
    layout-scrollbar-color: Siemens-DarkSand,

  ),
  siemens,
  corporate
);
