<div class="chart-acc col-sm-12 col-xxl-12 col-xxxl-3">
    <nb-card>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>
          Subset Selection1
          </nb-accordion-item-header>
          <nb-accordion-item-body>
              loprem Ipsum
          </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
              Subset Selection2
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                  loprem Ipsum
              </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
      </nb-card>
      </div>